@charset "utf-8";

/*-----------------------------------
#   Fonts 
------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/*-----------------------------------
#   Common Variables 
------------------------------------*/

:root {
  --selection-bg: #454545;
  --selection-text: #fff;
  --placeholder-text: #ccc;
}

/*-----------------------------------
#   Common Css 
------------------------------------*/

body {
  height: 100%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background-color: #f6f8fc;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none !important;
  color: inherit;
  transition: 0.3s ease;
}

@media (hover: hover) {
  a:hover {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin: 0;
}

.home-wrapper{
  width: 100%;
  min-height: 100vh;
  background-image: url("../public/images/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}


header{
  padding-top: 20px;
  padding-bottom: 30px;
}

.fuziku-info .fuziku-info-content{
  position: relative;
  padding-bottom: 35px;
}

.fuziku-info .fuziku-info-content::before{
  content: "";
  width: 821px;
  max-width: 100%;
  height: 2px;
  display: block;
  background-image: url("../public/images/icons/line-1.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -45px;
}

.fuziku-info-media{
  position: relative;
  margin-top: 10px;
}

.buy-now-btn{
  display: inline-block;
  font-family: "Jockey One", sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(180deg, #FAF600 0%, #4CEE00 100%);
  padding: 12px 15px;
  min-width: 165px;
  border-radius: 10px;
  text-align: center;
}

.fuziku-info-media .buy-now-btn-wrapper{
  position: absolute;
  left: 393px;
  top: 31px;
}
.fuziku-info-media .buy-now-btn-wrapper .buy-now-btn{
  position: relative;
}
.fuziku-info-media .buy-now-btn-wrapper .buy-now-btn::before{
  content: url("../public/images/icons/ic-equal.png");
  position: absolute;
  left: -27px;
  top: 50%;
  transform: translateY(-50%);
}
.fuziku-info-media .buy-now-btn-wrapper .buy-now-btn:first-child{
  margin-bottom: 20px;
}

.fuziku-info-text p{
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.fuziku-info-text p .brand{
  font-size: 20px;
  font-family: "Jockey One", sans-serif;
  background: linear-gradient(90deg, #FEF621 21.5%, #54E90F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.whitepaper-link{
  padding: 5px 10px;
    background: linear-gradient(90deg, #FEF621 21.5%, #54E90F 100%);
    font-size: 15px;
    color: #000;
    font-weight: 700;
    border-radius: 8px;
    display: inline-block;
    margin-left: 10px;
}

.whitepaper-link:hover{
  color: #000;
}


/*-----------------------------------
# Road Map section CSS
------------------------------------*/
.section-title{
  margin-bottom: 40px;
}
.section-title h4{
  font-size: 55px;
  font-family: "Jockey One", sans-serif;
  background: linear-gradient(90deg, #FEF621 21.5%, #54E90F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

.section-title h4::before{
  content: url("../public/images/icons/border-line.png");
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);

}

.road-map-stages-list > li{
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
}

.road-map-stages-list >  li::after{
    content: "";
    width: calc(100% - 12px);
    max-width: 100%;
    height: 2px;
    display: block;
    background-image: url("../public/images/icons/line-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}

.road-map-stages-list >  li:nth-child(even):after{
    transform: rotate(180deg);
    background-image: url("../public/images/icons/line-3.png");
    left: unset;
    right: 0;
} 

.road-map-stage h4{
  font-size: 40px;
  font-family: "Jockey One", sans-serif;
  padding-bottom: 15px;
  color: #71E512;
}

.road-map-stages-list >  li:nth-child(even) .road-map-stage h4{
  color: #FEF621;
}

.road-map-stage > ul li{
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  position: relative;
  padding-left: 36px;
  margin-bottom: 18px;
}
.road-map-stage ul li:last-child{
  margin-bottom: 0;
}
.road-map-stage ul li::before{
  content: url("../public/images/icons/ic-check.svg");
  position: absolute;
  left: 0;
  top: 2px;
}

footer{
  padding: 20px 0;
}

.footer-social ul{
  display: flex;
}
.footer-social ul li:first-child{
  padding-left: 0;
}
.footer-social ul li:last-child{
  padding-right: 0;
}
.footer-social ul li{
  padding: 0 10px;
  position: relative;
}

.footer-social ul li::after{
  content: url("../public/images/icons/border.png");
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-social ul li:last-child::after{
  content: "";
}

.desclaimer-text p{
  font-size: 14px;
  color: #fff;
}

.desclaimer-text p span{
  font-size: 22px;
  font-family: "Jockey One", sans-serif;
}

.countdown-timer h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 20px;
}

.countdown-timer .Hour{
  font-size: 120px;
  font-weight: 800;
  color: #fff;
  padding-bottom: 20px;
}

.countdown-timer p{
  color: #fff;
}


@media only screen and (max-width:1199px){
  .fuziku-info-media .buy-now-btn-wrapper{
    top: 50%;
    transform: translateY(-50%);
    left: 382px;
  }
}

@media only screen and (max-width:991px){
  .fuziku-info .fuziku-info-content::before{
    top: -15px;
  }

  .fuziku-info-media .buy-now-btn-wrapper{
    left: 343px;
  }

  .countdown-timer .Hour{
    font-size: 68px;
  }
}

@media only screen and (max-width:767px){
  .fuziku-info-text{
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
  }

  .section-title h4{
    font-size: 42px;
  }
  .road-map-stage h4{
    font-size: 30px;
  }
  .road-map-stage > ul li{
    font-size: 16px;
    line-height: 24px;
  }

  .fuziku-info-media .buy-now-btn-wrapper{
    position: static;
    transform: translateY(0);
  }

  .fuziku-info-media .media-img{
    text-align: center;
  }
  .fuziku-info-media .buy-now-btn-wrapper .buy-now-btn::before{
    display: none;
  }
  .fuziku-info-media .buy-now-btn-wrapper{
    margin-top: 20px;
    text-align: center;
  }
  .fuziku-info-media .buy-now-btn-wrapper .buy-now-btn{
    margin: 0 10px;
  }

  .countdown-timer{
    margin-top: 30px;
  }
}

/*---------------------------
# Coming Soon Page CSS
----------------------------*/

.coming-soon-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.coming-soon-content{
  text-align: center;
}
.coming-soon-content h1{
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(90deg, #FEF621 21.5%, #54E90F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-bottom: 30px;
}

.coming-soon-content p{
  font-size: 24px;
  color: #fff;
}
.Hour{
  color:white;
  font-size: 50px;
  font-weight: 900;
}

.Counter-Heading{
  font-size: 20px;
  color: white;
  font-weight: 700;
}
